<div class="wrapper">
        <ul class="auto-grid">
          <li>
                <div class="user-profile">
                        <img class="avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s" alt="Ash" />
                        <div class="username">
                            Will Smith
                                <div class="bio">
                                        Senior UI Designer
                                      </div>
                                     
                        </div>
                        
                        <div class="description">
                          icon
                        </div>
                       
                        <ul class="data">
                          <li>
                               
                                        2 Rating
                                        <div class="star-rating-display" data-rating="2">
                                            </div>
                                 
                          </li>
                        </ul>
                        <ul class="data">
                                <li>
                                  <span class="rating"> Experience : 5.8 years</span>
                                </li>
                                <li>
                                   
                                    <span class="rating"> Date of Joining : 2017</span>
                                    </li>
                              </ul>
                              <ul class="data">
                                    <li>
                                      <span class="rating"> current team: obc singapore</span>
                                    </li>
                                   
                                  </ul>
                                  <ul class="data">
                                        <li>
                                          <span class="rating"> reporting manager : laith agrawal</span>
                                        </li>
                                        <li>
                                            <span class="rating"> 127</span>
                                            </li>
                                      </ul>
                                      <ul class="data last">
                                            <li>
                                              <span class="rating"> Phone : 7406559241</span>
                                            </li>
                                            <li>
                                                <span class="rating"> Email : abc@gmail.com</span>
                                                </li>
                                          </ul>
                      </div>

          </li>
          <li>  <div class="user-profile">
                <img class="avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s" alt="Ash" />
                <div class="username">
                    Will Smith
                        <div class="bio">
                                Senior UI Designer
                              </div>
                             
                </div>
                
                <div class="description">
                  icon
                </div>
               
                <ul class="data">
                  <li>
                    <span class="rating"> 127</span>
                  </li>
                </ul>
              </div>
</li>
<li>  <div class="user-profile">
        <img class="avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s" alt="Ash" />
        <div class="username">
            Will Smith
                <div class="bio">
                        Senior UI Designer
                      </div>
                     
        </div>
        
        <div class="description">
          icon
        </div>
       
        <ul class="data">
          <li>
            <span class="rating"> 127</span>
          </li>
        </ul>
      </div>
</li>
         
        </ul>
      </div>