
<div class="w-100 h-100 d-flex pt-3 px-5 bg-white">
    <div class="ml-auto">
        <button mat-icon-button>
           <mat-icon>notifications</mat-icon>
        </button>
        <mat-form-field class="pl-3">
            <mat-label>Choose Team</mat-label>
            <mat-select>
              <mat-option [value]="1">Product Team</mat-option>
              <mat-option [value]="2">IDC</mat-option>
              <mat-option [value]="3">OCBC</mat-option>
              <mat-option [value]="4">Radian</mat-option>
              <mat-option [value]="5">Rustify</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>
