

.searchresult__card--size {
    min-width: 260px;
    max-width: 260px;
}

.card-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card__row--font {
    font-size: 12px;
}

.cardrow__label--color {
    color: grey;
}

::ng-deep .mat-card-header-text {
    margin: 0 5px !important;
}

.mat-card-header .mat-card-title {
    font-size: 14px;
}

.mat-card-subtitle, .mat-card-content {
    font-size: 12px;
}